NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=sonoemozionato

APPLE_ID=
APPLE_TEAM_ID=
APPLE_PRIVATE_KEY=
APPLE_KEY_ID=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_ISSUER=

FACEBOOK_ID=
FACEBOOK_SECRET=

GITHUB_ID=e80d2d04382cd9d27e26
GITHUB_SECRET=61bfca88aec85e1f9a575a7ff0ba1c7d5592368d

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

EMAIL_SERVER=
EMAIL_FROM=

DATABASE_URL=

BACKEND_API_URL=http://localhost:1234
